
/* CSS FOR AT VISE KODE*/

pre code {
  background-color: #FFEED8;
  border: 1px solid #111;
  display: block;
  padding: 20px;
  border-radius: 30px;
}

.Small-container {
  width: 500px;
  height: 290px;
  position: relative;
  margin: 10px;
}

.Small-container2 {
  width: 9000px;
  height: 290px;
  position: relative;
  margin: 10px;
}

.Small-container2 {
  width: 500px;
  height: 290px;
  position: relative;
  margin-top: 30px;
  padding: 20px;
}
/* IMAGE CONTAINER */
.img-cont{
  width: 200px;
  height: 150px;
  border-radius: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

/* Text for Kode.html*/

.text-kode {
  text-align: center;
  
}

/* IMAGE CONTAINER FOR KODE.html*/

.img-cont-1{
  width: 400px;
  height: 600px;
  border-radius: 30px;
  display: block;
  margin-right: auto;
  border: 1px solid black;
}
/* Flex CONTAINER FOR KODE.html*/
.flex-container-1 {
  display: flex;
  border-radius: 30px;
}
/* SMALL CONTAINER FOR KODE.html*/

.Small-container-1 {
  width: 10000px;
  height: 290px;
  position: relative;
  margin: auto;
}

/*Containers */ 

.Small-container {
  width: 10000px;
  height: 290px;
  position: relative;
  margin: 10px;
}

.flex-container {
  display: flex;
  background: #FFEED8;
  border-radius: 30px;
  border: 1px solid black;
}

.flex-container2 {
  display: flex;
  background: #FFEED8;
  border-radius: 30px;
  border: 1px solid black;
}

.flex-container2 > div {
  margin-left: 15px;
  margin-top: 20px;
  font-size: 30px;
}

.flex-container > div {
  margin-left: 15px;
  margin-top: 0px;
  font-size: 30px;
}

.flex-container-2 {
  display: flex;
  border-radius: 30px;
}

.flex-container-2 > div {
  margin-left: 15px;
  margin-top: 0px;
  font-size: 30px;
}

#Container-1 {
  background: #FFEED8;
  width: 600px;
  height: 600px;
  position: relative;
  border-radius: 30px;
  border: 1px solid black;
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.other-text{
  text-align: center;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 20px;
  font-family: Andale Mono, monospace;
}

.other-text2{
  text-align: left;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 10px;
  font-family: Andale Mono, monospace;
}


.Container-text{ 
  text-align: center;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 20px;
  font-family: Andale Mono, monospace;
 }


/* BUTTON*/ 

.div-button {
  margin: auto;
}

/* Nav Bar CSS*/
ul {
  list-style: none;
  padding: 10px;
  overflow: hidden;
  background-color: #FFEED8;
  border-radius: 30px;
  font-family: Andale Mono, monospace;
  font-weight: bold;
  border: 1px solid black;

}

li {
  float: left;
}

li a {
  display: block;
  color:  #AD7D39;
  font-weight: bold;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 25px;
}

li a:hover {
  background-color: #111;
  border-radius: 30px;
}

body {
  background-color: #AD7D39;
}

.Center {
	text-align: center;
}

/* For at center videoen*/
.Video-center {
  margin: auto;
  display: block;
  border: 1px solid black;
  border-radius: 30px;
}
